@page
@attribute [AllowAnonymous]
@model Web.WebApp.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Log out";
}

<div>
    @{
        if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <form class="form-inline" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</div>