@page "/account/registerverify/{userid}"
@attribute [AllowAnonymous]
@layout BlankLayout
@using Core.Application.Services.IServices
@using Microsoft.AspNetCore.Hosting

@inject IUserService UserService;
@inject NavigationManager Navigation;
@inject IWebHostEnvironment HostEnvironment;
@inject IEmailService EmailService;

<section class="d-flex justify-content-center">
    <div class="col-md-5 mb-5">
        <h3>Email Confirmation</h3>
        <hr />
        <p>
            Your account has been created. Now let's verify your email address.<br />
            Please check your inbox or spam folder, and click on the verification link in the email sent to <b>@Email</b>.
        </p>
        <p>
            Haven't received it? <a href="/account/generateemailconfirmation?email=@Email">Click here</a> to resend the email.
        </p>
    </div>
</section>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string Email { get; set; }

    [Parameter]
    public string UserId { get; set; }
}
