@page "/account/registerverify/{userid}"
@attribute [AllowAnonymous]
@layout EmptyLayout
@using Core.Application.Services.IServices
@using Microsoft.AspNetCore.Hosting

@inject IUserService UserService;
@inject NavigationManager Navigation;
@inject IWebHostEnvironment HostEnvironment;
@inject IEmailService EmailService;

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Small">
    <MudPaper Outlined="true" Elevation="1" Class="p-3">
        <h5>Email Confirmation</h5>
        <hr />
        <p>
            <b>Thank you for your registration.</b>
        </p>
        <p>
            <b>Please confirm and active your account.</b><br />
            Check your inbox or spam folder, and click on the verification link in the email we've sent to <b>@Email</b>.
        </p>
        <p>
            Haven't received it? <a href="/account/generateemailconfirmation?email=@Email">Click here</a> to resend the email.
        </p>
    </MudPaper>
</MudContainer>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "email")]
    public string Email { get; set; }

    [Parameter]
    public string UserId { get; set; }
}
