@using Web.WebApp.Themes
@inherits LayoutComponentBase

<MudThemeProvider Theme="@PrimaryTheme.Default"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <AppBar OnDrawerToggle="@DrawerToggle" DrawerOpen="@_drawerOpen"/>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="2">
        <MudDrawerHeader Style="padding: 12px;">
            <a href="/"><img src="/img/TrackMyExpense.svg" style="width: auto; height: 22px;"/></a>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle(bool drawerOpen)
    {
        _drawerOpen = drawerOpen;
    }
}