@using Core.Domain.Constants

<MudNavMenu>
    <AuthorizeView Roles=@UserBaseRole.Admin>
        <Authorized>
            <MudNavGroup Title="Administrator" Expanded="true">
                <MudNavLink Href="/admin/users"><span class="oi oi-person" aria-hidden="true"></span> Users</MudNavLink>
                <MudNavLink Href="/admin/categories">Categories</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/account/logout"><span class="oi oi-power-standby" aria-hidden="true"></span> Log Out</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>


@code {

}


