<div class="page-footer">
    <div class="page-footer-left">
        <a href="/terms" target="_blank">Terms of service</a>
        <span class="px-3" />
        <a href="/privacy" target="_blank">Privacy Policy</a>
    </div>
    <div class="page-footer-right">
        <a href="https://apprector.com" target="_blank">&copy; @year App Rector</a>
    </div>
</div>

@code {
    int year = DateTime.Now.Year;
}