@using MudBlazor
@using Web.WebApp.Themes

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="Web.WebApp.styles.css" rel="stylesheet" />
    
    <script>
        // Hack Mud input floating label
        function shrinkLabel(thisEl) {
            if (!thisEl) return;
            var parentEl = thisEl.parentNode;
            if (parentEl) {
                if (thisEl.value) {
                    parentEl.classList.add("mud-shrink");
                } else {
                    parentEl.classList.remove("mud-shrink");
                }
            }
        }
    </script>
</head>
<body>
    <component type="typeof(MudThemeProvider)" render-mode="ServerPrerendered" param-Theme="@PrimaryTheme.Default" />
    <div id="mud-snackbar-container" class="mud-snackbar-location-top-right"></div>
    <div class="mud-layout" style="">
        <header class="mud-appbar mud-appbar-fixed-top mud-elevation-1">
            <div class="mud-toolbar mud-toolbar-gutters mud-toolbar-appbar">
                <a href="/"><img src="/img/TrackMyExpense.svg" style="width: auto; height: 22px;"></a>
                <div class="flex-grow-1"></div>
                <a href="/account/login" class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 mr-3">Log In</a>
                <a href="/account/register" class="mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1">Create Account</a>
            </div>
        </header>
    </div>

    <div class="mud-main-content">
        @RenderBody()
    </div>


<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/_content/MudBlazor/MudBlazor.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>