#fileUploaderDropZone {
    height: 200px;
    width: 100%;
    border: 2px dashed #CCCCCC;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 0;
    padding-top: 4px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
    overflow: hidden;
}

#fileUploaderDropZone label {
    color: #0366d6;
    font-weight: bold;
    cursor: pointer;
    margin: 0 4px;
}

#fileUploaderDropZone.hover {
    border-color: #009688;
    background-color: #DDDDDD;
}

#fileUploaderDropZone.error {
    border-color: red;
    background-color: transparent;
}


#fileUploaderPreview {
    height: 140px;
    width: 100%;
    border-top: 1px dashed #CCCCCC;
    overflow: scroll;
}

#fileUploaderErrorMessage {
    color: red;
    padding-left: 8px;
    text-align: left;
}

.fileUploaderProgress {
    bottom: 0;
    position: absolute;
    width: 100%
}

::deep .fileUploader-item {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 0.75rem;
    height: 80px;
    margin: 8px;
    padding: 0;
    white-space: normal;
    width: 60px;
    overflow: visible;
    /* background for file type */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/fileIcons/unknown.svg");
}

::deep .fileUploader-item-icon {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -6px;
    right: -6px;
    background: rgba(0,0,0,.25); 
}

::deep .fileUploader-item .fileUploader-file-name {
    background: rgba(255, 255, 255, 0.5);
    overflow-wrap: anywhere;
}

::deep .fileUploader-item.fileUploader-jpg,
::deep .fileUploader-item.fileUploader-jpeg {
    background-image: url("./assets/fileIcons/jpg.svg");
}

::deep .fileUploader-item.fileUploader-png {
    background-image: url("./assets/fileIcons/png.svg");
}

::deep .fileUploader-item.fileUploader-doc,
::deep .fileUploader-item.fileUploader-docx {
    background-image: url("./assets/fileIcons/doc.svg");
}

::deep .fileUploader-item.fileUploader-xls,
::deep .fileUploader-item.fileUploader-xlsx {
    background-image: url("./assets/fileIcons/xls.svg");
}

::deep .fileUploader-item.fileUploader-txt {
    background-image: url("./assets/fileIcons/txt.svg");
}

::deep .fileUploader-item.fileUploader-pdf {
    background-image: url("./assets/fileIcons/pdf.svg");
}