.fileuploader-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    min-height: 64px;
    position: relative;
}

.fileuploader-preview-image {
    max-width: 100%;
    height: auto;
    z-index: 100;
}

::deep .fileuploader-preview-loading {
    position: absolute;
    z-index: 0;
}